a {
  color: #07889b;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #e37222;
}

body,
td,
th,
tr,
p,
a,
strong {
  font-family: "TeXGyrePagella", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 15px;
}

name {
  font-size: 42px;
}

heading {
  font-size: 22px;
  color: #e37222;
}

li:not(:last-child) {
  margin-bottom: 5px;
}

.one,
.two {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  position: absolute;
}

.fade,
.two {
  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.blue-link {
  color: #07889b;
}

/* Add responsiveness to the main table */
.main-table {
  width: 100%;
  max-width: 800px;
}

@media (max-width: 800px) {
  .main-table {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-table td {
    display: block;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 10px;
  }
}



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.content-section {
  text-align: justify;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  flex: 1;
  text-align: center;
}

.header-image {
  flex: 1;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 22px;
  color: #e37222;
}